{% extends 'admin-base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    {{ include('event/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('event_index') }}"><i class="fas fa-arrow-circle-left"></i></a>
{% endblock %}
